<app-navbar></app-navbar>

<section class="titulo container-fluid sombra px-3 mb-4 ">
    <div class="container text-center p__custom">
        <h1 class="text-white">Modulo l</h1>
        <h3 class="text-white">Private Wealth Management</h3>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-7 pt-4">
                <div class="pt-3 pe-lg-5">
                    <h3 class="color01">Abstract</h3>
                    <hr class="custom__hr">
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate fugit perspiciatis temporibus ea debitis dolore nisi, explicabo veniam recusandae, ullam cum esse dicta, illum iure minima excepturi. Similique, labore sit!Lorem ipsum dolor sit amet consectetur, adipisicing elit. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate fugit perspiciatis temporibus ea debitis dolore nisi, explicabo veniam recusandae, ullam cum esse dicta, illum iure minima excepturi. Similique, labore sit!Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                     
                    </p>
                </div>
                <div class="pt-3 pe-lg-5">
                    <h3 class="color01">Objetivo</h3>
                    <hr class="custom__hr">
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate fugit perspiciatis temporibus ea debitis dolore nisi, explicabo veniam recusandae, ullam cum esse dicta, illum iure minima excepturi. Similique, labore sit!Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate fugit perspiciatis temporibus ea debitis dolore nisi, explicabo veniam recusandae.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate fugit perspiciatis temporibus ea debitis dolore nisi, explicabo veniam recusandae, ullam cum esse dicta, illum iure minima excepturi. Similique, labore sit!Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                        
                    </p>
                </div>
                <div class="pt-3 pe-lg-5">
                    <h3 class="color01">Highlights</h3>
                    <hr class="custom__hr">
                    <ul>
                        <li>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum error a id voluptatem nam sit, mollitia voluptatum sunt tempora eum sint minima corporis,

                        </li>
                    </ul>
                    <ul>
                        <li>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum error a id voluptatem nam sit, mollitia voluptatum sunt tempora eum sint minima corporis,

                        </li>
                    </ul>
                    <ul>
                        <li>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum error a id voluptatem nam sit, mollitia voluptatum sunt tempora eum sint minima corporis,

                        </li>
                    </ul>
                    <ul>
                        <li>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum error a id voluptatem nam sit, mollitia voluptatum sunt tempora eum sint minima corporis,

                        </li>
                    </ul>
                
                </div>
                <div class="row py-4">
                    <div class="col-6 mx-auto">
                        <button class="btn bg-custom text-white w-100 rounded-5 p-3">Más información</button>
                    </div>
                    <div class="col-6 mx-auto">
                        <button class="btn bg-custom text-white w-100 rounded-5 p-3">Comprar</button>
                    </div>
                </div>
            </div>


            <div class="col-12 col-lg-5 pt-4">

                <div class="row pb-4">
                    <div class="col-7 mx-auto">
                        <div class="bg-custom02 rounded-5 sombra">
                            <div class="text-center">
                                <img src="/assets/img/pvm/Adriana Tortajada.png" alt="" class="img-fluid">
                            </div>
                            <div class="text-center">
                                <h4 class="bg-degradado01 text-white px-4 py-3">ADRIANA TORTAJADA</h4>
                                <p class="pb-3 pt-2 px-4 fw-bold">CEO & MANAGING PARTNER 1200VC</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-9 p-0 mx-auto bg-custom02 rounded-4 sombra mb-5">
                        <div class="bg-degradado02 rounded-4 sombra02">
                            <h3 class="p-3 text-center text-white">Iniciamos en Abril 2025</h3>
                        </div>
                        <div class="px-3">
                            <div>
                                <div class="color02" >
                                    <h5 class="p-2 m-0 fw-bold">PARTE I</h5>
                                </div>
                                <p class="ps-3  m-0">Mariana Garza</p>
                                <p class="ps-5 color01">Introducción a Private Wealth Management</p>
                            </div>
                            <div>
                                <div class="color02" >
                                    <h5 class="p-2 m-0 fw-bold">PARTE II</h5>
                                </div>
                                <p class="ps-3  m-0">José María de la Torre</p>
                                <p class="ps-5 color01">Banca Patrimonialt</p>
                            </div>


                            <div>
                                <div class="color02" >
                                    <h5 class="p-2 m-0 fw-bold">PARTE III</h5>
                                </div>
                                <p class="ps-3 m-0">Fernando Buendía</p>
                                <p class="ps-5 color01">Banca Privada</p>
                            </div>
                            <div>
                                <div class="color02" >
                                    <h5 class="p-2 m-0 fw-bold">PARTE IV</h5>
                                </div>
                                <p class="ps-3 m-0">Didier Mena Campos</p>
                                <p class="ps-5 color01">Ética en la Banca</p>
                            </div>
                            <div>
                                <div class="color02" >
                                    <h5 class="p-2 m-0 fw-bold">PARTE V</h5>
                                </div>
                                <p class="ps-5 color01">Trusts y Estructuras Fiduciarias para Protección Patrimonial</p>
                            </div>
                            <div>
                                <div class="color02" >
                                    <h5 class="p-2 m-0 fw-bold">PARTE VI</h5>
                                </div>
                                <p class="ps-3 m-0">Giuseppe Bracalello</p>
                                <p class="ps-5 color01">Private Wealth Banking & Family Office Strategies</p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

        </div>
    </div>
</section>

<app-footer></app-footer>